body {
  background: #666;
  color: #fff;
  font-family: Arial;
  line-height: 1.5em;
}
a {
  color: #fff;
  text-decoration: none;
}

ul {
  padding: 0;
}

#container {
  background: #333;
  width: 960px;
  margin: 30px auto;
  overflow: hidden;
  padding: 10px;
}

#nav {
  height: 40px;
  background: #666;
}

#nav ul {
  padding-top: 10px;
  padding-left: 15px;
}

#nav li {
  list-style: none;
  float: left;
  padding-right: 25px;
}

#nav .active {
  font-weight: bold;
  color: black;
}
#main {
  float: left;
  width: 60%;
}

#sidebar {
  float: right;
  width: 30%;
  background: #666;
  margin: 20px;
  padding: 10px;
}

.clear {
  clear: both;
}

#footer {
  text-align: center;
  color: black;
  background: white;
  margin-top: 10px;
  padding: 10px;
}

.services a {
  background: #666;
  padding: 3px;
}

.services li {
  border-bottom: 2px #666 dashed;
  padding: 5px;
}
input,
textarea {
  width: 100%;
  margin-bottom: 5px;
  padding: 10px;
}
